body {
    margin: 0;
    background-color: #222222;
    color: #eeeeee;
}

.nav-link {
    color: orange;
    text-decoration: none; /*Remove the default underline for links*/
}

main {
    max-width: 600px;
    width: 100%;
    margin-top: 44px;
    margin-bottom: 44px;
    /*space the main element further apart from the header and footer
    elements (or it's containing element).*/
    margin-right: auto;
    margin-left: auto;
    /*center the main element between 
    the left and right edges of the page (or it's containing element).*/

    /*OR
    margin: 24px auto 24px auto;
    OR
    margin: 24px auto;
    */
}

section {
    margin: 44px, 0;
    border: 3px, orange, dotted;
    padding: 16px; 
    /*All 4 sides will get 16px padding
    give the section elements space between their content and border*/
}

#title {
    font-size: 40; 
    /*Default font size is 16px
    Note: Defaults can change depending on device
    AND heading sizes are relative to default*/
    font-weight: 800;
    /*Font weight is on a scale of 100 - 900 (100 being thinnest)*/
}

.d-inline {
    display: inline;
}

nav > ul {
    list-style: none;
}

#avatar {
    width: 100px;
    /*height: auto; <----- implied */
    /*If height not specified here, it automatically is 'auto'.
    It would be the same for width if it wasn't specified.*/
    margin: 32px auto;
    /*Margin top & bottom: 32px; left & right: auto */

    /* Note: images are displayed in-line by default
    Need to display by 'block' to center
    i.e. display: block; */

    border-radius: 8px; /*rounds the corners of the image*/
}